{{!-- <h1>Formulario</h1>
    <form method="post" action="/api/products" enctype="multipart/form-data">
        <input type="text" placeholder="Titulo" name="title"/>
        <input type="text" placeholder="Descripcion" name="description"/>
        <input type="text" placeholder="Precio" name="price"/>
        <input type="text" placeholder="Codigo" name="code"/>
        <input type="text" placeholder="Categoria" name="category"/>
        <input type="text" placeholder="Stock" name="stock"/>
         <!-- <input type="text" placeholder="URL de imagen" name="thumbnail"/> -->
        <br></br>
        <input type="file" name="thumbnail"/>
        <br></br>
        <button>Crear producto</button>
   
    </form> --}}