<h1>Chat</h1>

<p>Bienvenido <span id="userName"> </span></p>
<input type="text" placeholder="ingresa el mensaje" id="inputMsg"/>
<button id="sendMsg">enviar</button>

<div id="chatPanel" class="chatPanel"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/chat.js"></script>
