<h1>Home</h1>
{{!-- <h2>cookie creator</h2>
<form method="post" action="api/users/login">
<input type="'text" name="name" placeholder="Nombre" /><br>
<input type="'text" name="last_name" placeholder="Apellido" /><br>
<input type="'text" name="age" placeholder="Edad" /><br>
    <input type="'text" name="email" placeholder="Correo del usuario" /><br>
     <input type="'text" name="password" placeholder="contraseña de usuario" /> <br>
    <button>Enviar</button> --}}
</form>