<h1>Pagina de Procuctos en tiempo real </h1>

<h2>Formulario para crear productos</h2>

<form id='createProductForm' enctype="multipart/form-data">
    <input type="text" placeholder="Titulo" name="title" /><br>
    <input type="text" placeholder="Descripcion" name="description" /><br>
    <input type="text" placeholder="Precio" name="price" /><br>
    <input type="text" placeholder="Codigo" name="code" /><br>
    <input type="text" placeholder="Stock" name="stock" /><br>
     <input type="text" placeholder="Categoria" name="category"/>
    <input type="text" placeholder="Url de imagen" name="thumbnail" /><br>
    {{!-- <input type="file" name="file" /> <br>  --}}
    <button type="submit">Crear producto</button>

</form>
 
<h2>Listado de productos:</h2>

<div id="productList" class="product-list"></div>

<script src="socket.io/socket.io.js"></script>
<script src="/static/js/realTime.js"></script>