<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
        <a href="/realtimeproducts">Productos en tiempo real </a>
        <a href="/cart">Carrito</a>
        {{!-- <a href="/addproducts">Agregar productos</a> --}}
        {{!-- <a href="/chat">Chat</a> --}}
    </nav>
    {{{body}}}
    <footer class="footer">Pie de pagina</footer>
    
</body>
</html>